.container {
  width: 80%;
  margin: auto;
  background-color: beige;
  height: fit-content;
  text-align: center;
  align-items: center;
}
.btn {
  padding: 15px;
  background-color: #14e31f;
  margin: 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  text-transform: uppercase;
  color: black;
}
.btn:hover {
  background-color: #e60b16;
}
.btn.btn2 {
  background-color: aqua;
}
